.wrapper {
    background-color: #F6F5F4;
}

.loginForm {
    display: flex;
    justify-content: space-between;
    padding-top: 83px;
    padding-bottom: 83px;
    width: 1180px;
    margin: 0 auto;
}

.loginForm .leftPart {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.loginForm h2 {
    font: 400 56px Dela Gothic One;
    line-height: 67.2px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.loginForm .leftPart input {
    width: 519px;
    height: 60px;
    border: 1px solid #CED4DA;
    font: 400 20px Open Sans;
    line-height: 31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ADB5BD;
    padding-left: 20px;
}

.loginForm .leftPart button {
    font: 700 16px Montserrat;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    background-color: #2B788B;
    border: none;
    border-radius: 100px;
    padding: 14px 22px;
    width: 110px;
}
.loginForm .leftPart button a{
    text-decoration: none;
    color:#fff
}


.loginForm .item {
    background-image: url('./img/item.png');
    width: 481px;
    height: 320px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}